{% load static %} <!--load static to load all css js images file-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" integrity="sha512-y6ZMKFUQrn+UUEVoqYe8ApScqbjuhjqzTuwUMEGMDuhS2niI8KA3vhH2LenreqJXQS+iIXVTRL2iaNfJbDNA1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--custom css made by devloper-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- title using block to change title dinamically -->
    <title>Rajpal Incense | {% block title %}{% endblock title %}</title>
  </head>
  <body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button> <!--Button to scroll page up-->

  <!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-default">
  <div class="container-fluid">
  <a class="navbar-brand mx-5" href="{% url 'home' %}"><img class="logo" src="{% static 'images/Logo_White.png' %}"></a>
    <button
      class="navbar-toggler navbar-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="justify-content: flex-end;" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0" id="mainbar">
        <li class="nav-item mx-5">
          <a class="nav-link nav-link-ltr" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link nav-link-ltr" href="{% url 'categorypage' %}">Products</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link nav-link-ltr" href="/#AboutUs">AboutUs</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link nav-link-ltr" href="/#ContactUs">ContactUs</a>
        </li>
      </ul>
      <div class="col-lg  col-md-6 col-sm-12 col" id="searchbar">
        <form action="{% url 'search' %}" method="GET" class="search">
            <div class="input-group w-100 flex">
                <input type="text" class="form-control" name="keyword" style="width:60%;" placeholder="Search" >
              </div>
            </form>
          </div> 
          <button type="button" class="search" id="close">
            <i class="fa fa-times"></i>
          </button>
      <button type="button" class="search" id="searchbtn">
        <i class="fas fa-search"></i>
      </button>
  </div>
    </div>  
</nav>

    {% block content %}{% endblock content %} <!--all the content will show in this block-->
    <!-- footer -->
<footer class="text-gray-600 body-font">
 <hr>
  <div class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" style="text-decoration:none;">
      <img src="{% static 'images/Logo_black.png' %}">
      <span class="ml-3 text-xl">Rajpal Incense</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 RajpalIncense —
      <a href="#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank" style="text-decoration:none;"">RajpalProducts</a>
    </p>
    <div class="col m-auto">
        <div class="flex" style="justify-content: flex-end;">
        <a href="https://m.facebook.com/Rajpal-Incense-400879683787745/"><i class="fab fa-facebook-square mx-3 social-icon"></i></a>
        <a href="https://www.instagram.com/rajpalincense81/?hl=en"><i class="fab fa-instagram-square mx-3 social-icon"></i></a>
        <a href="https://twitter.com/rajpalincense"><i class="fab fa-twitter-square mx-3 social-icon" ></i></a>
      </div>
  </div>
</footer>   

<script src="{% static 'js/jquery.js' %}"></script> <!--link jquery-->
<!-- bootstrap js links -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
<!-- custom js link by developer -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
